h1 {
    text-align: center;
    text-decoration: underline;
}

h2 {
  text-align: center;
  text-decoration: underline;
}

header {
    background: lightgray;
}

body {
    background: lightgray;
}

footer {
    background: black;
}

p {
    text-indent: 30px;
}